<style>
    #like {
        color: pink;
        cursor: pointer;
        font-size: 2rem;
    }
    #count {
        font-size: 0.7rem;
    }
</style>
<div class="my-5">
    <h1 class="text-center mb-5">도서정보</h1>
    <div class="row">
        <div class="col-lg-4 mb-3">
            <img src="<%=book.image%>" width="90%">
        </div>
        <div class="col pt-3">
            <h5>
                [<%=book.bid%>] <%=book.title%>
                <i class="bi bi-heart ms-3" id="like">
                    <span id="count">0</span>
                </i>
            </h5>
            <hr>
            <div class="my-3">저 자: <%=book.authors%></div>
            <div class="my-3">가 격: <%=book.fmtprice%>원</div>
            <div class="my-3">등록일: <%=book.fmtdate%></div>
            <div class="my-3">출판사: <%=book.publisher%></div>
            <div class="my-3">ISBN: <%=book.isbn%></div>
            <hr>
            <button class="btn btn-warning px-5">장바구니</button>
            <button class="btn btn-success px-5">바로구매</button>
        </div>
    </div>
</div>
<script>
    getCheck();
    function getCheck(){
        $.ajax({
            type:"get",
            url:"/books/like/check",
            data:{uid:sessionStorage.getItem("uid"), bid:"<%=book.bid%>"},
            success:function(data){
                $("#count").html(data.fcnt);
                if(data.ucnt==1) {
                    $("#like").removeClass("bi-heart");
                    $("#like").addClass("bi-heart-fill");
                }
            }
        })
    }
</script>